

.ch-control-container-l1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ch-control-container-l2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.ch-label{
    width: 120px;
}
.ch-input{
    width: 100%;
    margin: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ch-input input{
    margin-left: 5px;
    vertical-align: center;
}

.ch-slider {
    margin-right: 8px;
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.ch-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.ch-slider::-moz-range-thumb {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.ch-widget {
    width: 100%;
    display: flex;
    justify-content: center;
}
.ch-widget-container {
    margin-top: 40px;
    margin-bottom: 20px;
}